// cannot use bootstrap for .loading because it is displayed _before_ the CSS is loaded
// this is the ONLY instance using fixed styles is allowed!
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #6c757d;
  background-color: #f8f9fa;
}
