<div class="page-container">
  <header class="header">
    <div class="header__content">
        <img class="logo" src="./assets/large_logo.png" height="125" width="145">
    </div>
  </header>
  <div id="app-content" class="flex">
    <div id="page-content">
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!--
<div *ngIf="isLoading" class="loading">
  <lib-busy-indicator size="3x"></lib-busy-indicator>
</div>
-->

<!--
  <lib-error *ngIf="errorMessage" [message]="errorMessage"></lib-error>
-->
