$primaryBrown: #5D231F;
$primary: $primaryBrown;

@import '~bootstrap/scss/bootstrap.scss';

// expose some additional Bootstrap variables to CSS
:root {
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --info-05: #{rgba($info, .05)};
  --info-1: #{rgba($info, .1)};
  --body-color: #{$body-color};
  --text-muted: #{$text-muted};
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.valid-feedback {
  @extend .text-right;
}

.invalid-feedback {
  @extend .text-right;
}

.form-control::placeholder {
  opacity: 0.5;
}

.overlay {
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms;
  visibility: hidden;
}

// link unstyled when not hovered
a, .btn-link {
  &.link-unstyled {
    &:not(:hover):not(:focus) {
      color: inherit;
    }
  }
}

.celebration-cake {
  .section-item--title {
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #451400;
  }
  .section-item--inline-image {
    display: block;
    text-align: center;
    margin: 1em 0;
  }
  .section-item--image {
    display: none;
  }
}

// clear fixed header
main {
  padding-top: 9.5rem;
}

.table {
    display: table;
    width: 100%;
}

.table {
    display: table;
    width: 100%;
}

.table .row {
    display: table-row;
}

.table .cell {
    display: table-cell;
    vertical-align: top;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.list--bullet>li:before,
.list--bullet-brown>li:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 8px;
    left: 0;
    background-repeat: no-repeat;
}

.list--bullet-brown {
    text-align: left;
}

.list--bullet-brown>li {
    margin-bottom: 30px;
    position: relative;
    line-height: 1.3;
    padding-left: 30px;
}

.list--bullet-brown>li:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 8px;
}

.list--bullet-brown>li:before,
.post__body ul>li:before {
    background-color: #420500;
}

.list--bullet>li:before,
.list--bullet-brown>li:before,
.menu-icon span:before,
.menu-icon span:after {
    display: block;
    content: "";
    position: absolute;
}

.color--brown {
    color: #420500;
}

.color--white {
    color: #fff;
}

.mb-40 {
    margin-bottom: 40px;
}

.heading--md {
    font-weight: 700;
    font-size: 30px;
    line-height: 15;
    margin-bottom: 20px;
}

.heading--lg {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.15;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;

}

.is-displayed-tablet {
    display: none;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.extra-bold {
    font-weight: 700;
}

.apply-shadow {
    box-shadow: 0 1em 1.5em -1.25em #666666;
}

#app-content {
    min-height: 100vh;
    width: 100%;
}

#page-content {
  background-color: #f2f2f1;
  height: 100%;
  width: 100%;
    // -webkit-box-flex: 1;
    // flex: 1 1 100%;
    // overflow-y: auto;
    // z-index: 0;
    //
    // flex-grow: 1;
    // padding-top: 150px;
}

#contact-form {
    position: relative;
}



.legalNav {
    font-size: 14px;
    line-height: 1.4285714286;
    padding-top: 55px;
    padding-bottom: 20px;
}

.legalNav__item {
    float: left;
    margin-right: 23px;
}

.legalNav__item .extra-bold {
    color: #420500;
}



/** grids **/
.grid {
    display: flex;
    justify-content: space-between;
}

.grid--two .grid__item {
    width: calc((100% - 20px) / 2);
}

.page-container.nav-is-opened {
    -webkit-filter: blur(.15em);
    filter: blur(.15em);
}

.background-gray {
    background-color: #f2f2f1;
}

.background-white {
    background-color: #fff;
}

.background-brown {
    background-color: #420500;
}

.background__arrow--down:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
}

.background__arrow:before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -15px;
    z-index: 99;
    height: 12px;
}

a.callout {
    text-decoration: none;
}

.callout__item {
    /* margin-bottom: 20px; */
    padding: 15px;
    text-align: center;
}

.callout__group {
    text-align: center;
}

.callout__group.callout__group__photos picture img {
    margin-bottom: 40px;
}

.disclaimer p {
    font-size: 11px;
    text-align: left;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body.theme--home header {
    background-color: #E3F4F6;
}

header {
    transition: background-color .2s ease-in-out;
    background-color: #fff;
    height: 9.5rem;
    padding: 1rem;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #eee;
}

.header__content {
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
}

.hero__bg {
    padding: 0;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    padding-top: 60px;
    overflow: hidden;
}

.home__hero {
    height: 350px;
    position: relative;
    background-color: #E3F4F6;
}

.hero__content .hero__msg {
    position: relative;
    z-index: 1001;
}

.home__hero .hero__content,
.general__hero .hero__content {
    text-align: center;
    height: 100%;
    z-index: 1;
}

.home__hero .hero__msg h1,
.general__hero .hero__msg h1,
h2,
h3,
h4,
h5,
h6,
.heading--md,
.heading--lg {
    font-family: 'Open Sans', sans-serif;
}

.home__hero .hero__msg h1,
.general__hero .hero__msg h1 {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home__hero .hero__bg svg,
.home__hero .hero__bg .svg {
    position: absolute;
    bottom: 0px;
}

.home__hero .hero__bg .town-full,
.home__hero .hero__bg .town-slim {
    left: 50%;
    transform: translateX(-50%);
}

.home__hero .hero__bg .town-slim {
    display: none;
}

.btn > span {
  margin-right: .5ex;
}

.btn-cta {
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

.subHero__container {
    margin-top: 80px;
    text-align: center;
}

.subHero__container.yellow {
    background: #EBBC5A;
    background: -moz-linear-gradient(top, #EBBC5A 0%, hsl(56, 98%, 49%) 100%);
    background: -webkit-linear-gradient(top, #EBBC5A 0%, hsl(56, 98%, 49%) 100%);
    background: linear-gradient(to bottom, #EBBC5A 0%, hsl(56, 98%, 49%) 100%);
}

.footer__container,
.homeHero__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-container {
    position: relative;
    width: 100%;
    // z-index: 100;
}

.question__item {
    margin-bottom: 30px;
}

.menu-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 7px;
    cursor: pointer;
}

.menu-icon span {
    background-color: #EBBC5A;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 16px;
    border-radius: 2px;
}

.menu-icon span:before,
.menu-icon span:after {
    transform: rotate(0deg);
    transition: top .2s ease-in-out .2s, transform .2s ease-in 0s, background-color .2s ease-in-out 0s;
    width: 100%;
    height: 4px;
    background-color: #EBBC5A;
    border-radius: 2px;
}


.menu-icon span:before {
    top: 16px;
}

.menu-icon span:after {
    top: 16px;
}

.offCanvas .menu-icon span {
    background-color: transparent;
}

.offCanvas .menu-icon span:before,
.offCanvas .menu-icon span:after {
    background-color: #fff;

}

.offCanvas .menu-icon span:before {
    transform: rotate(45deg);
}

.offCanvas .menu-icon span:after {
    transform: rotate(-45deg);
}

.nav-is-opened .menu-icon {
    z-index: 1001;
}

.nav-is-opened .menu-icon span {
    transition-delay: 0s;
    background-color: transparent;
}

.nav-is-opened .menu-icon span {
    background-color: transparent;
}

.nav__item {
    position: relative;
    float: left;
    font-size: 18px;
    line-height: 1.875;
    margin-right: 20px;
    font-weight: 600;
}

.nav__item>a {
    text-decoration: none;
    transition: border-color .2s ease-in-out 50ms, color .2s ease-in-out 50ms;
    cursor: pointer;
    display: block;
    border-bottom: 4px solid transparent;
    padding-bottom: 8px;
    color: #420500;
}


.w-100 {
    width: 100% !important;
}

.section {
    // flex-direction: row;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 90px;
}

.section__home--intro {
    text-align: center;
}

.section .section__content {
    padding-bottom: 40px;
}

.section__content.section__content--our-promise {
    background-color: rgba(241, 167, 68, 0.7);
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
    font-style: italic;
}

.section.section__disclaimer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.section.section__disclaimer p {
    font-size: 12px;
}

picture {
    margin: 0;
    padding: 0;
    border: none
}

picture img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    max-width: 100%;
}

.v2 {
    height: 160px;
    width: 160px;
}

.offCanvas__head {
    padding-bottom: 20px;
}


@media only screen and (max-width: 1580px) {

    .home__hero .hero__bg .town-slim {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1023px) {
    .home__hero .hero__bg .town-full {
        display: inherit;
    }

    .hero__bg.hero__bg--faq {
        background-position: center 0;
    }

    // .header {
    //     position: absolute !important;
    //     z-index: 1000;
    // }

    .hero__bg {
        height: 300px;
    }

    .hero {
        padding-top: 50px;
    }

    .home__hero {
        height: 458px;
    }

    .home__hero .hero__msg h1 {
        font-size: 40px;
        line-height: 1.25;
    }


    .is-displayed-tablet {
        display: block;
    }

    .is-hidden-tablet {
        display: none;
    }

    .menu-icon {
        height: 32px;
        right: 40px;
        margin-top: 70px;
    }

    .menu-icon span {
        top: 12px;
    }

    .menu-icon span:before {
        top: -12px;
    }

    .menu-icon span:after {
        top: 12px;
    }

    .offCanvas__body {
        padding-top: 20px;
    }

    .offCanvas .menu-icon {
        margin-top: 37px;
        right: 20px;
    }

    .offCanvas .menu-icon span:after {
        top: -12px;
    }

    .offCanvas.nav-is-opened {
        transform: translate3d(0, 0, 0);
        width: 100%;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .ownYourOwn .heading--lg {
        margin-bottom: 0;
        padding-bottom: 0;
        font-family: 'Open Sans', sans-serif;
    }

    .stepsToOwnership ol>li picture {
        width: 7em;
    }

}

@media (max-width: 991px) {
    .home__hero .hero__bg .town-full {
        display: inherit;
    }

    // .header .header__content {
    //     width: auto;
    // }

    .ownYouOwn .heading--lg {
        margin-bottom: 0 !important;
    }

    .stepsToOwnership ol>li {
        padding-right: 0;
    }

    .section.section__footer .container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .stepsToOwnership ol {
        padding-left: 0;
    }

    .stepsToOwnership ol>li {
        padding-right: 0;
        padding-left: 2em;
        padding-bottom: 0;
        margin-bottom: 1.5em;
        flex-direction: column;
        align-items: flex-start;
    }

    .stepsToOwnership ol>li:before {
        font-size: 1.5em;
        position: absolute;
        left: 0.1em;
        top: -0.2em;
    }

    .stepsToOwnership ol>li picture {
        position: relative;
        order: -1;
        display: block;
        width: 7em;
    }

    .v1 {
        height: 75px;
        width: auto;
    }


    .grid--two {
        display: block;
    }

    .grid--two .grid__item {
        width: 100%;
    }



    .hero {
        padding-top: 0;
    }

    .home__hero {
        height: 280px;
    }

    .home__hero .hero__bg .town-full {
        display: none;
    }

    .home__hero .hero__bg .town-slim {
        display: inherit;
        width: 494px;
        height: auto;
    }

    .home__hero .hero__msg {
        padding-top: 20px;
    }

    .home__hero .hero__msg h1 {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .btn--cta {
        padding: .5rem 1rem;
    }

    .hero__content .btn--cta {
        font-size: 12px;
    }

    .off-canvas {
        padding-top: 20px;
    }

    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer .nav__item {
        width: 100%;
        display: block;
    }

    .section__footer .grid__col {
        text-align: left;
    }

    .section.section__footer .container {
        width: 100%;
    }

}

@media (min-width: 768px) {
  .celebration-cake {
    .section-item--title {
      font-size: 32px;
      text-align: left;
    }
    .section-item--item {
      text-align: left;
    }
    .text-headline {
      font-size: 42px;
    }
    .section-item--inline-image {
      display: none;
    }
    .section-item--image {
      display: block;
    }
  }
}

