<section class="hero home__hero">
  <p>hero</p>
</section>
<section class="section section__home--intro background-white">
  <p>home content</p>
</section>
<section class="section celebration-cake background-gray">
  <div class="container">
    <div class="grid grid--two">
      <div class="grid__item">
        <h1 class="section-item--title text-headline text-primary">Celebration Cake</h1>
        <div class="section-item--item">
          <div class="section-item--inline-image">
            <img src="https://via.placeholder.com/200x180" height="180" width="200" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. </p>
          <button class="btn btn-primary btn-block btn-cta" (click)="onClick()">
            <span>Create your cake</span>
            <fa-icon icon="arrow-right"></fa-icon>
          </button>
        </div>
      </div>
      <div class="grid__item">
        <div class="section-item--item">
          <div class="section-item--image">
            <img src="https://via.placeholder.com/400x248" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
