<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn shadow-none close-button" i18n-aria-label="@@app.modalButton.close" aria-label="Close" (click)="onCloseClick()">
    <fa-icon icon="times" size="lg" class="text-secondary"></fa-icon>
  </button>
</div>

<div class="modal-body">
  <div *ngIf="isContentTemplate else bodyText">
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </div>
  <ng-template #bodyText><div [innerHTML]="content"></div></ng-template>
</div>

<div class="modal-footer" ngbAutofocus>
  <button *ngFor="let button of buttons;" class="btn {{button.buttonClass}} main-buttons" (click)="onClick(button)">
    <span *ngIf="button.buttonText">{{button.buttonText}}</span>
    <fa-icon *ngIf="button.buttonIcon" class="icon {{button.iconClass}}" [icon]="button.buttonIcon" size="sm"></fa-icon>
  </button>
</div>
