<ng-template #guestCheckoutModal>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="header">
          We&rsquo;ll make this quick
        </h1>
        <div class="description">
          We just need some info in case we need to get in touch about your order. We&rsquo;ll send your confirmation to
          the email address provided.
        </div>
        <form #guestCheckoutForm="ngForm" novalidate>
          <div class="form-group">
            <label for="first">First Name</label>
            <input id="first" name="first" type="text" maxlength="50" class="form-control" placeholder="First Name"
              [(ngModel)]="user.First" required>
            <span class="invalid-feedback">A value is required.</span>
          </div>
          <div class="form-group">
            <label for="last">Last Name</label>
            <input id="last" name="last" type="text" maxlength="50" class="form-control" placeholder="Last Name"
              [(ngModel)]="user.Last" required>
            <span class="invalid-feedback">A value is required.</span>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" name="email" type="text" maxlength="50" class="form-control" placeholder="Email Address"
              [(ngModel)]="user.EmailAddress" required>
            <span class="invalid-feedback">A value is required.</span>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" name="phone" type="text" maxlength="50" class="form-control" placeholder="Phone Number"
              [(ngModel)]="user.Phone">
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
