<section class="section bg-light">
  <div class="container">
    <h2 class="text-primary">Checkout</h2>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
          <app-builder-summary></app-builder-summary>
          <button class="btn btn-primary btn-block btn-cta mt-2">
            <span>Place Order</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
