  .intake-detail {
    max-width: 640px;
    margin: 0 auto 40px;

    .header {
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: -.4px;
      margin-bottom: 10px;
    }
  }

