<section class="section intake-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="header">Pickup Details</h1>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label>Pickup Location:</label>
        <select class="form-control">
          <option></option>
          <option>Chalfont</option>
          <option>Newtown</option>
        </select>
      </div>
      <div class="form-group">
        <label>Pickup Date:</label>
        <div class="input-group mb-2">
          <input type="text" ngbDatepicker #d="ngbDatepicker" class="form-control" placeholder="Pickup Date">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">

            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Pickup Time:</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Pickup Time" />
        </div>
      </div>
      <button class="btn btn-primary btn--cta" style="width:100%;">
        <span>Save &amp; Create Your Cake</span>
      </button>
    </form>
  </div>

</section>
