<div class="d-flex flex-column flex-grow-1 bg-light pt-2 off-canvas" [ngClass]="{'collapsed': collapsed}">
  <div class="d-flex flex-row align-self-end">
    <button type="button" class="btn shadow-none" (click)="toggleCollapsed()">
      <fa-icon icon="times" size="lg" class="text-secondary"></fa-icon>
    </button>
  </div>
  <ng-content></ng-content>
</div>
<div class="overlay" [ngClass]="{'show': !collapsed}" (click)="toggleCollapsed()"></div>
