.off-canvas {
  background-color: var(--light);
  bottom: 0;
  left: 0;
  min-height: 100vh;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in-out;
  position: fixed;
  top: 0;
  overflow: auto;
  width: 25em;
  z-index: 99999;

  &.collapsed {
    transform: translate3d(-25em, 0, 0);
  }

  .btn:hover {
    opacity: 0.8;
  }
}

.overlay.show {
  opacity: 0.6;
  visibility: unset;
}
