<div id="footer" class="section section__footer">
    <div class="container">
        <div class="table">
            <div class="cell">
              <fa-icon icon="envelope-open-text"></fa-icon><a href="mailto:info@thehappymixer.com">info@thehappymixer.com</a>
            </div>
            <div class="cell">
                <fa-icon icon="phone"></fa-icon><a href="tel:1-215-933-2050">215-933-2050</a>
            </div>
            <div class="cell">
              <fa-icon icon="map-marker-alt"></fa-icon><p>4275 County Line Road<br>Chalfont, PA 18914</p>
            </div>
        </div>
        <div class="table">
            <div class="align-center cell">
                <p class="icon copyright">2020 The Happy Mixer
                    <br><a href="/privacy-policy">privacy policy</a></p>
            </div>
        </div>
    </div>
</div>
