#footer p,
#footer a {
    color: #333;
    font-size: 14px;
}

#footer {
    background-color: #EBBC5A;
}

#footer .nav {
    padding-bottom: 15px;
}

#footer .nav ul {
    margin: 20px 0;
    list-style: none;
    text-align: center;
}

#footer .nav ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;

}

#footer .nav ul li a {
    text-decoration: none;
    transition: border-color .2s ease-in-out 50ms, color .2s ease-in-out 50ms;
    cursor: pointer;
    display: block;
    border-bottom: 4px solid transparent;
    padding-bottom: 8px;
    color: #420500;
    font-weight: 700;
}

#footer .nav ul li a:hover {
    color: #fff;
}

#footer .nav.table {
    max-width: 100%;
}

#footer .table {
    max-width: 850px;
    margin: 0 auto;
}

#footer .cell {
    width: 33%;
    text-align: center;
}

#footer .table p,
#footer .table a {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

#footer .icon::before {
    position: absolute;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #420500;
}

#footer .icon.phone::before {
    content: "\f095";
}

#footer .icon.map::before {
    content: "\f3c5";
}

#footer .icon.copyright::before {
    content: "\f1f9";
    font-weight: 400;
}

#footer .icon.email:before {
    content: "\f0e0";
}
