<section class="section bg-light">
  <div class="container">
    <div class="grid grid--two text-center">
      <div class="grid__item">
        <img [src]="value.images[0].src" width="300" height="300" />
      </div>
      <div class="grid__item text-left">
        <span class="text-primary">Create Your</span>
        <h1 class="text-primary">{{value.name}}</h1>
        <div class="description" [innerHTML]="value.description"></div>
      </div>
    </div>
  </div>
</section>
<section class="section background-white">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="item-category mt-4" *ngFor="let items of value.attributes">
          <h3 class="text-primary">{{items.name}}</h3>
          <div class="card" *ngFor="let item of items.options">
            <div class="card-body">{{item}}</div>
          </div>
        </div>
      </div>
      <div class="col-4">
          <app-builder-summary></app-builder-summary>
      </div>
    </div>
  </div>
</section>
