<ngb-alert [type]="toast.type" *ngFor="let toast of getToasts()" (close)="remove(toast)">
  <div *ngIf="isBodyTemplate(toast) else bodyText">
    <ng-template [ngTemplateOutlet]="toast.body"></ng-template>
  </div>
  <ng-template #bodyText>
    <span *ngIf="!!toast.icon" class="mr-2"><fa-icon [icon]="toast.icon"></fa-icon></span>
    <span *ngIf="!!toast.title" class="mr-2"><strong>{{toast.title}}</strong></span>
    <span [innerHTML]="toast.body"></span>
  </ng-template>
</ngb-alert>

