<div class="card card-summary bg-light" #summaryBox [class.sticky]="sticky">
  <div class="card-title text-primary">
    <h6>Create Your Own</h6>
  </div>
  <hr />
  <div class="order-summary">
    <h5 class="text-primary">Order Total</h5>
    <h5 class="cost subtotal">$45.00</h5>
  </div>
  <button class="btn btn-primary btn-block btn-cta mt-2" (click)="onClick()" *ngIf="showCheckoutButton">
    <span>Checkout</span>
  </button>
</div>
