.card-summary {
  z-index: 1;
  display: block;
  border-radius: 4px;
  padding: 19px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #52372c;
  background-color: #f3f3f3;

  &.sticky {
    position: -webkit-sticky;
    position: sticky;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: end;
    justify-self: end;
    width: 100%;
    top: 10rem;
  }
}

.order-summary,
.order-summary h5 {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.order-summary h5 {
  float: left;
}
.order-summary .cost {
  float: right;
}
